/* .frame {
    display: flex;
    flex-direction: column; 
    
} */

.login {
display: flex;
margin-bottom: 5px;
align-content: space-between;
justify-content: center;
 flex-direction: column; 
}



button{
    justify-content: center;
   
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

input{
    line-height: 40px;
    width: auto; 
    margin-bottom: 15px;
}
