.taskBox {
    border-width: 1px;
    border-style: solid;
    border-color: #F137A6;
    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskBox:hover {
    box-shadow: 0 0 2px 0 #F137A6 inset, 0 0 5px 1px #F137A6;
}

.checkbox {
    flex: 0;
    width: 10px;
}

.taskText {
    flex: 1;
}

.taskButton {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.editTask {
    display: flex;
}

input {
    flex: 1;
    border-color: #F137A6;
    border-radius: 10px;
}